mixin homeSection(item)
  .home-section
    .home-section__content
      if item.img
        .home-section__img: img(src="#{item.img}", alt="")
        .home-section__title.tp-heading--bigger.mx-auto= item.title
      else
        .home-section__title.tp-heading--monstrous.mx-auto= item.title
      if item.subtitle
        .home-section__subtitle.tp-body--bigger-2.tp--uc.mx-auto
          span= item.subtitle
          if item.subtitle2Line
            br
            span= item.subtitle2Line
      if item.text
        .home-section__text.mx-auto: p.tp-body--big= item.text
          block
      if item.scroller
        .home-section__scroller.tp-text--center
          .home-section__scroller-text.tp-body--base прокрутите вниз
          .home-section__scroller-icon.mt-3
            svg.icon: use(xlink:href="#arrow-down")/
    if item.btn
      .home-section__btn-wrapper
        a.btn.btn--secondary(href="#{item.btn.href}")= item.btn.text